.board {
    display: grid;
}

#top-container {
    height: 160px;
    grid-row: 1;
    grid-column: 2;
    border-color: black;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    background-color: #454545;
}

#left-container {
    width: 220px;
    grid-row: 2;
    grid-column: 1;
    border-color: black;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    background-color: #454545;
}

#grid-container {
    overflow: hidden;
    grid-row: 2;
    grid-column: 2;
    background-color: gold;
}

.grid {
    height: 100%;
    display: grid;
    align-content: stretch;
}

.bordered {
    border: 1px solid black;
}

.cell {
    cursor: pointer;
}

.clue-cell {
    font-size: 10px;
}

.num {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.top-panel-cell {
    cursor: pointer;
}

.nodrag {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
