.board {
    display: grid;
    border: 1px solid black;
}

.grid-container {
    width: 662px;
    height: 662px;
    background-color: gold;
}

.cell {
    cursor: pointer;
    border: 1px solid black;
}

.nodrag {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
